.grid-container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-flow: column;
    background-color: rgb(216, 216, 216);
}

.row {
    display: flex;
    flex-flow: row;
    flex: 1 0 1px;
}

.block {
    height: 100%;
    flex: 1 0 1px;
}

.mode-container {
    display: flex;
    flex-flow: column;
}

.mode-container div button {
    width: 100%;
}

.selected {
    background-color: darkgray;
}